# Editor-related
*~
.vscode
venv

# OS-related
.DS_Store

# Common e3 artifacts
*.local
core.*
*-loc/*.Makefile
ecat2/*.Makefile
cellMods/
testMods*/
*PVs.list
pv.list
dbl
.iocsh_history

# repo specific
tools/*.o
tools/ecat_minimal
tools/ecat_dual_domain_pdo
tools/ecat_dual
tools/ecat_liveviewer
tools/ecat_minimal_pdo

